.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.blog-item {
    margin: 20px;
    width: calc(33% - 40px); /* Adjust width for spacing */
    box-sizing: border-box;
    text-align: center;
}

.blog-item img {
    width: 100%;
    height: auto;
}

.blog-item h2 {
    margin: 10px 0;
    font-size: 1.5em;
    text-decoration: none;
}

.blog-item a{
    text-decoration: none;
}




@media (max-width: 1368px) {
    .blog-item {
        width: calc(50% - 40px);
    }
}





@media (max-width: 968px) {
    .blog-item {
        width: 100%;
    }
}
